# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
build/
dist/

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# AWS
*.pem
.aws/